<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/info.css">
    <title>multas</title>
</head>
<body>
   
    <div class="inicio">
        <div class="fecha">13 Diciembre 2022</div>
        <h2>SIMIT</h2>
        <p class="parrafo">Un alivio a quienes tengan multas pendientes por cancelar con el Instituto Departamental de Tránsito del Quindío,
        presentó la entidad, con beneficios que incluyen condonaciones de parte del valor o de los intereses de mora para 
        quienes cumplan con esta obligación hasta el final de octubre. Así lo confirmó la directora Debbie Duque Burgos.</p>
        <p>“Conforme a lo determinado por el gobierno nacional con el artículo 7 del decreto 678 y siguiendo las instrucciones 
        del gobernador Roberto Jairo Jaramillo Cárdenas, se otorgará un descuento del 20% del valor de la multa si se paga desde el 1 de junio hasta el 
        31 de octubre. Posteriormente se aplicará un descuento del 10% del valor y en el último periodo de cobro, se dejará de cobrar los
        intereses, pero se deberá pagar la multa en su totalidad. Hay que subrayar que para acogerse a estos beneficios 
        no se puede hacer acuerdo de pago”, aseguró.</p>
        <p>Entre tanto, para la cancelación de estas deudas, la funcionaria precisó que debe hacerse de manera presencial mientras 
        se implementa el pago electrónico. “Para esto, la entidad ya está atendiendo de manera presencial de 7:30 de la mañana
        a 12:30 y de 2:30 a 4:30 de la tarde. Allí se está recibiendo a los usuarios con todas las condiciones de bioseguridad 
        exigidas y aprobadas por las secretarías de Salud departamental y de Circasia (al estar la sede del organismo bajo su 
        jurisdicción). </p>
        <p>Todos los trámites están habilitados, excepto el correspondiente al Registro por Primera Vez en el RUNT, 
        porque este requiere de un registro biométrico que no está habilitado por los protocolos actuales, de acuerdo
        con las determinaciones del ministerio de Transporte”. Incluso la escuela de conducción del IDTQ ha reiniciado 
        operaciones, al recibir el visto bueno, por lo que la invitación también se extiende para quien desee expedir 
        su licencia de automóvil o motocicleta, añadió.</p>
    </div>

</body>
</html>