<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/info.css">
    <title>oficiales</title>
</head>
<body>
    <div class="inicio">
        <div class="fecha">12 Diciembre 2022</div>
        <h2>Camino a la seguridad</h2>
        <p class="parrafo">Dirigir el servicio de Policía de Tránsito y Transporte a nivel Nacional, en áreas urbanas y rurales según lo 
        dispuesto en el Código Nacional de Tránsito y Transporte y demás normas que lo modifiquen, aclaren o adicionen.
        Diseñar y poner en marcha programas preventivos de seguridad vial, dirigidos a sensibilizar y concientizar a 
        conductores, pasajeros y peatones que permitan la reducción de la accidentalidad.</p>
        <p>Coordinar la ejecución de planes, programas y proyectos con las entidades públicas y privadas, que por su misión deben coadyuvar
        en el cumplimiento de las disposiciones sobre el tránsito y transporte.
        Proponer y desarrollar convenios de cooperación, con entidades públicas y privadas, dirigidos a fortalecer las relaciones 
        Policía – Autoridades de Tránsito – Gremios del sector y Comunidad en general.</p>
        <p>Desarrollar las políticas del Gobierno Nacional en materia de seguridad vial.
            Asesorar a la Dirección General de la Policía Nacional de Colombia en la definición y desarrollo de estrategias, programas y proyectos
             relacionados con la seguridad vial urbana y rural.
            Diseñar y elaborar planes y proyectos de inversión y desarrollo tecnológico, que permitan dar respuesta a las necesidades operativas y 
            administrativas de esta Dirección.</p>
        <p>Coordinar con la Dirección Nacional de Escuelas los planes de estudio de formación y capacitación requeridos para potenciar
        el conocimiento de los integrantes de la unidad.
        Desarrollar la Política y Objetivos de Calidad de la Policía Nacional.
        Desarrollar y estandarizar los procedimientos de los procesos misionales, gerenciales y de soporte de la unidad, debidamente 
        articulada con la metodología definida por la Policía Nacional.
        Las demás que le sean asignadas de acuerdo con la Ley, los reglamentos o la naturaleza de la dependencia.</p>
    </div>
    
</body>
</html>