<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/oficiales.css">
    <title>Oficiales</title>
</head>
<body>

    <section class="oficial" id="oficiales">
        <h1 class="heading"> Oficiales de formacion</h1>
        <div class="line"></div>

        <div class="box-container">
            <div class="box">
                <img src="../public/img/p" alt="">
                <h1>Maria Hernandez</h1>
                <span>oficial del año</span>
                
            </div>
            <div class="box">
                <img src="../public/img/" alt="">
                <h1>Juaquin Hernandez</h1>
                <span>Aprendiz</span>
                
            </div>
            <div class="box">
                <img src="../public/img/p" alt="">
                <h1>Alex Jaramillo</h1>
                <span>Aprendiz</span>
                
            </div>
            <div class="box">
                <img src="../public/img/policia-4.jpg" alt="">
                <h1>Joel Romino</h1>
                <span>labor social</span>
                
            </div>
            <div class="box">
                <img src="img/policia-5.jpg" alt="">
                <h1>Maicol Nuñez</h1>
                <span>lobor vial</span>
                
            </div>
            <div class="box">
                <img src="../public/img/policia-6.jpg" alt="">
                <h1>Juaquin Lamprea</h1>
                <span>Seguimiento vial</span>
                
            </div>
            <div class="box">
                <img src="../public/img/policia-7.jpg" alt="">
                <h1>Isabel Gomez</h1>
                <span>Seguimiento vial</span>
                
            </div>
            <div class="box">
                <img src="../public/img/policia-8.jfif" alt="">
                <h1>Rosaura Perez</h1>
                <span>Labor Social</span>
                
            </div>
    
        </div>

    </section>
    
</body>
</html>
