@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;500&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

a{
    font-size: 3vmin;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.nav-link{
    color:rgb(16, 67, 129)

}

.nav-link:hover{
    color: green;
}

ul{
    list-style: none;
}

.activo{
    color:white;
    text-decoration: underlink;
    font-weight: bold;
    
}
body, html{
    overflow-x: hidden;
}
.navbar{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}
.nav-links{
    display: flex;
    align-items: center;
    color: white;

}
.nav-links li{
    margin: 0 30px;
    color: white;

}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(../public/img/JAJAJA.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-center h1{
    font-size: 10vh;
    color: #fff;
}
.text-center h4{
    font-size: 4vh;
    color: #fff;
}
.header-content{
    margin-bottom: 150px;
    color: rgb(248, 246, 246);
    text-align:  center;

}
.header-content h2{
    font-size: 5vmin;
}

.line{
    width: 170px;
    height: 5px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    margin: 10px auto;
    border-radius: 7px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.ctn{
    padding:  8px 15px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    border-radius: 30px;
    color: white;

}
section{
    width: 80%;
    margin: 80px auto;
   
}
.title{
    text-align: center;
    font-size: 4vmin;

}
.row{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 450px;
    height: 350px;
}
.events .row{
    margin-top: 50px;
}
.frase{
    width: 100%;
    height: 40vh;
    background-color: #484872;


}
h4{
    font-size: 1.5vmin;
    color: #484872;
    margin: 20px auto;
}

p{
    color: #7c7c7c;
    padding: 0px 40px;
}

.frase{
    background: #ffffff;
    background-size: 100%;
    text-align: center;
    padding: 0 ;
    display: flex;
    width: 100%;
    
}
.forma{
    margin-left: 80px;

}

.forma h1{
    font-size: 7vmin;
    margin: 50px;
    
}

.forma p{
    font-size: 4vmin;
}

.explore{
    width: 100%;
    height: 100vh;
    background-image: url(../public/img/paisaje.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}
.explore-content{
    width: 70%;
    padding: 50px;
    color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 50px;

}
.explore-content p{
    font-size: 5vmin;
    color:antiquewhite;

}
.explore-content .ctn{
    margin-top: 4px;
}

.footer{
    width: 100%;
    min-height: 140px;
    padding: 20px 80px;
    margin: 0;
    background-color: #7c7c7c;
    text-align: center;
    font-size: 2vmin;
}